@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --font-poppins: Poppins, sans-serif;
}
@theme inline {
  --color-background: #ffff;
  --color-foreground: #171717;
  --default-font-family: var(--font-poppins);

  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */

  --color-body: #faf9f5;

  /* custom primary color */

  --color-primary: #1d263a;
  --color-highlight: #ffbc0d;
  --color-accent: #d3d6d8;

  /* custom secondary color */

  --color-secondary: #de1f26;

  /* custom color */
}
